.button{
    border: none;
    outline: none;
    padding-inline: 1rem;
    padding-block: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;


    &.primary-button{
        background-color: rgb(171, 18, 18);
        color: white;
        font-weight: bold;
        font-size: 1rem;


        &:active{
            transform: scale(0.9);
        }
    }
}