.feed-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;

    .feed {
        max-width: 300px;
        width: 100%;

        .posts {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.1rem;

            .post {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                background-color: #ffffff;
                padding-inline: 0.5rem;
                padding-block: 0.5rem;

                .user {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    .img-wrapper {
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 2px solid #ff000000;
                        background: conic-gradient(from 45deg, rgb(255, 25, 0), rgb(174, 1, 174), rgb(255, 0, 93)) border-box;

                        img {
                            width: 2rem;
                            aspect-ratio: 1/1;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                }

                img {
                    width: 100%;
                }

                .icons {
                    display: flex;
                    justify-content: space-between;

                    .left {
                        display: flex;
                        gap: 0.75rem;
                    }

                    .liked {
                        color: rgb(255, 0, 60);
                    }

                    svg {
                        width: 1rem;
                        aspect-ratio: 1/1;
                    }

                    button{
                        background-color: transparent;
                        border: none;
                        outline: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}